<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Yibs!</h1>
    <p>
      Your friend <%= @referrer.full_name %> wants to make social bets with you on Yibs!  Signing up is easy; just follow the link here: <a href="<%= @url %>">Sign Up</a><br/>.
    </p>
    <p>Good luck!</p>
    <p>-The Yibs team</p>
  </body>
</html>