<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello from Yibs!</h1>
    <p>
      Your friend <%= @referrer.full_name %> challenged you in a bet on Yibs!  Sign up now to view the bet and accept/decline: <%= @url %><br/>.
    </p>
    <p>Good luck!</p>
    <p>-The Yibs team</p>
  </body>
</html>