<div class="bet-header group">
  <% bet.participants.each_with_index do |participant, index| %>
    <% unless index == 0 %>
      <%= image_tag("15px-sword-vs.png", class: "vs-pic") %>
    <% end %>
    <%= image_tag participant.profile_pic.url(:thumb), :class => "participant-pic" %>
  <% end %>

  <div class='bet-privacy bet-<%= bet.private ? 'private' : 'public' %>'><%= bet.private ? 'Private' : 'Public' %></div>
  <div class="bet-status">Status: <span class="bet-<%= bet.status.delete(' ') %>"><%= bet.status.split.map(&:capitalize).join(' ') %></span></div>

</div>

<div class="bet-author-pic">
  <%= image_tag bet.author.profile_pic.url(:small), :class => "bet-author-pic" %>
</div>

<div class="bet-content">
  <div class="bet-terms">
    <span class="link-name user-<%= bet.participation_author.first.status %>"><a href="<%= user_url(bet.author) %>" data-remote="true"><%= bet.author.full_name %></a></span> bets
    <% case bet.participations_ex_author.count %>
      <% when 0..1 %>
      <% bet.participations_ex_author.each do |participation| %>
        <span class="link-name user-<%= participation.status %>"><a href="<%= user_url(participation.user_id) %>" data-remote="true"><%= participation.participant_full_name %></a></span>
        <% end %>
        <% when 2 %>
        <span class="link-name user-<%= bet.participations_ex_author.first.status %>"><a href="<%= user_url(bet.participations_ex_author.first.user_id) %>" data-remote="true"><%= bet.participations_ex_author.first.participant_full_name %></a></span> and <span class="link-name user-<%= bet.participations_ex_author.last.status %>"><a href="<%= user_url(bet.participations_ex_author.last.user_id) %>" data-remote="true"><%= bet.participations_ex_author.last.participant_full_name %></a></span>
        <% else %>
      <% bet.participations_ex_author.each_with_index do |participation, index| %>
        <%= "and " if index == bet.participations_ex_author.count-1 %><span class="link-name user-<%= participation.status %>"><a href="<%= user_url(participation.user_id) %>" data-remote="true"><%= participation.participant_full_name %></a></span><%= index == bet.participations_ex_author.count-1 ? " " : ", " %>
        <% end %>
        <% end %>
        that <%= bet.terms %>.<br>
        <br>
        Loser(s) has to <%= bet.wager %>.
  </div>

  <% if bet.status == 'completed' %>
  <div class="winners-losers-section">
    <span class="winner_header">Winner(s):</span>
      <% bet.winners.each_with_index do |winner, index| %>
        <%= winner.abbrev_name %>.<%= ", " unless index == bet.winners.count-1 %>
      <% end %>
      <br>
    <span class="loser_header">Loser(s):</span>
      <% bet.losers.each_with_index do |loser, index| %>
        <%= loser.abbrev_name %>.<%= ", " unless index == bet.losers.count-1 %>
      <% end %>
  </div>
  <% end %>

  <% if current_user.inbound_pending_bets.include?(bet) %>
  <div class="bet-acceptance-section group">
	<div class="bet-acceptance-content group">
		<span class="group">Do you accept this challenge?</span>
		<div class="bet-buttons">
			<div class="bet-accept-button"><%= render "/bets/accept_button", :bet => bet %></div>
			<div class="bet-decine-button"><%= render "/bets/decline_button", :bet => bet %></div>
	</div>
</div>
  </div>
  <% end %>

  <div class="bet-options group">
    <ul>
      <% if bet.participants.include?(current_user) %>
      <li class="trigger-edit-bet-form"><a href="<%= edit_bet_url(bet) %>" data-remote="true">Edit Bet</a></li>
      <% end %>
      <li><a href="#">Share</a></li>
      <li><a href="#">Comment</a></li>
      <li>Last updated <%= bet.time_since_last_update %></li>
    </ul>
  </div>

  <%= render "/comments/expanded_comments_form", :bet => bet%>
