<script>
// $(document).ready(function(event) {
// 	
// 	$('.edit-bet-form').on('ajax:success', '.trigger-submit-bet', function(event, data) {
// 	  event.preventDefault();
// 	console.log("Triggered Edit Bet Form (in edit_lightbox)")
// 	console.log(data);
// 	// $('#edit-bet-content').html(data);
// 	// $('.edit-bet-form').removeClass('hidden');
// 	// $('.dimmer').removeClass('hidden');
// 	});
// });
</script>

<div class="edit-bet-form light-box-form hidden" id="edit-bet-form">
  <div class="form-header group" id="form-header">
    <span class="form-title">Edit Bet</span>
    <div class="x-button" id="x-button">x</div>
  </div>
  <div class="form-content group" id="edit-bet-content"></div>
</div>