<header class="feeds_bar">
  Bet Feeds:
  <ul class="feeds_list">
    <li><%= link_to "Community", community_bets_url %></li>
    <li><%= link_to "Pending", pending_bets_url %></li>
    <li><%= link_to "In-Play", inplay_bets_url %></li>
    <li><%= link_to "Completed", completed_bets_url %></li>
  </ul>
</header>