<script>
$(document).ready(function(){
	if($('#bet_status').val() != 'completed') {
		$('#bet-results-form').addClass('hidden');
	} else {
		$('#bet-results-form').removeClass('hidden');
	}
	
	$('#bet_status').change(function() {
		if($(this).val() != 'completed') {
			$('#bet-results-form').addClass('hidden');
		} else {
			$('#bet-results-form').removeClass('hidden');
		}
	})
	
	$('.bettee-search-area').on('focus', function() {
		console.log("bettee search focused!")
		$('.bettee-search-area').keyup(function(event) {
			console.log("keyup!" + event.which);
			if( (event.which >= 48 && event.which <= 57) || (event.which >= 65 && event.which <= 90) || event.which == 8 || event.which == 32) {
				var that = this
				var url = $(event.currentTarget).attr('url');
				var data = $(event.currentTarget).html();
				$.ajax ({
					method: "GET",
					url: url,
					data: {"query": data},
					success: function(data) {
						if (!data) {
							console.log("no matches!");
							$('.bettee-drop-down').html("");
							$('.bettee-drop-down').addClass('hidden');
						} else {
							console.log("this is the data!");
							console.log($(data).children('li:first-child'));
							var $list = $(data)
							$list.children('li:first-child').addClass("selected");
							$('.bettee-drop-down').html($list);
							$('.bettee-drop-down').removeClass('hidden');
							
							$('.bettee-drop-down ul li').hover(function(event) {
								console.log(event.currentTarget);
								$(event.currentTarget).siblings().removeClass('selected');
								$(event.currentTarget).addClass('selected');
							})
						}
					
					}
				})
			}
		})
		$('.bettee-search-area').keydown(function(event) {
			switch (event.which) {
			case 38:
				console.log("up pressed");
				event.preventDefault();
				console.log($(event.currentTarget).next().find('.selected'));
				$li = $(event.currentTarget).next().find('.selected');
				if ($li.prev().length > 0) {
					$li.removeClass('selected');
					$li.prev().addClass('selected');
				}
				break;			
			case 40:
				console.log("down pressed");
				event.preventDefault();
				$li = $(event.currentTarget).next().find('.selected');
				if ($li.next().length > 0) {
					$li.removeClass('selected');
					$li.next().addClass('selected');
				}
				break;
			case 9:
				console.log("tab pressed");
				event.preventDefault();
				$li = $(event.currentTarget).next().find('.selected');
				$li.trigger('click');
				break;
			case 13:
				console.log("enter pressed");
				event.preventDefault();
				$li = $(event.currentTarget).next().find('.selected');
				$li.trigger('click');
				break;
			}
			
		})
	})
	
	
	
	//to remove handler once focus is off
	$('.bettee-search-area').on('blur', function() {
		$('.bettee-search-area').off('keyup');
		$('.bettee-search-area').off('keydown');
	})
	
    $('.bettee-drop-down').on('click', 'li', function(event){
		event.preventDefault();
		event.stopPropagation();
		console.log(this)
		var betteeId = $(event.currentTarget).children('a').attr('href').split("/").pop();
		var betteeName = $(event.currentTarget).children('a').html().split(">").pop();
		var $betteeBlock = $('<div></div>');
		$betteeBlock.attr({ class: 'bettee-block', "data-id": betteeId });
		$betteeBlock.html('<span>' + betteeName + '</span><div class="bettee-block-x">x</div>')
		$('.bettee-search-area').before($betteeBlock);
		$('.bettee-drop-down').html("");
		$('.bettee-search-area').html("");
		$('.bettee-drop-down').addClass('hidden');
    })
	
	$('.bettee-drop-down-anchor').on('click', '.bettee-block-x', function(event) {
		event.preventDefault();
		console.log("triggered x!")
		$(event.currentTarget).parent().remove();
	})
	
});





</script>

<% action = (bet.persisted? ? bet_url(bet) : user_bets_url(current_user)) %>
<% method = (bet.persisted? ? "put" : "post") %>
<% message = (bet.persisted? ? "Update Bet" : "Create Bet") %>


<form class="trigger-submit-bet" action="<%= action %>" data-id="<%= bet.id %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <input
     name="_method"
     type="hidden"
     value="<%= method %>">

  <%= current_user.abbrev_name%>. bets

  <div class="bet-participants-section group">
	 Participants: 
	 <div class="bettee-drop-down-anchor">
		 <% if bet.persisted? %>
		 <% bet.participants.each do |participant| %>
		 <% unless participant == bet.author %>
		 <div class="bettee-block" data-id="<%= participant.id %>">
			 <span><%= participant.full_name %> (<%= participant.username %>)</span>
			 <div class="bettee-block-x">x</div>
		 </div>
		 <% end %>
		 <% end %>
		 <% end %>
		 <div class="bettee-search-area" url="<%= search_friends_user_friendships_url(current_user.id) %>" contenteditable>
		 </div>
		   <div class="bettee-drop-down hidden"></div>
	 </div>
 </div>

  <!-- <% current_user.friends.each do |friend| %>
  <% next if bet.participants.include?(friend) %>
    <input
      <%= "checked" if bet.participants.include?(friend) %>
      id="bet_participant_id_<%= friend.id %>"
      name="bet_participation[user_id][]"
      value="<%= friend.id %>"
      type="checkbox">
    <label for="bet_participant_id_<%= friend.id %>"><%= friend.first_name %> <%= friend.last_name %></label>
    <br>
    <% end %> -->
	  
    <!-- <label for="new_users">Invite other friends:</label><br>
    <textarea placeholder="example@gmail.com, example2@gmail.com, ..." id="new_users" name="new_user_emails"></textarea> -->

	<div class="bet-terms-section group">
    that...<br>
	  <textarea name="bet[terms]" placeholder="he/she can run more than 20 miles this week" rows="2" cols="50"><%= bet.terms if bet.persisted? %></textarea>
	</div>
	
	<div class="bet-wager-section group">
  	  Loser(s) has to...<br>
	  <textarea name="bet[wager]" placeholder="wear a shirt of the winner's choosing next time we go out" rows="2" cols="50"><%= bet.persisted? ? bet.wager : "" %></textarea>
	</div>
  
  <div class="bet-privacy-section group">
  <input
    <%= "checked" if bet.private %>
    id="bet_private"
    name="bet[private]"
    value=true
    type="checkbox">
  <label for="bet_private">Private</label>
  </div>

  <% if bet.persisted? %>
  <div class="bet-status-section group">
  <label for="bet_status">Status: </label>
  <select id="bet_status" name="bet[status]">
    <option value="pending" <%= "selected" if bet.status == "pending" %>>Pending</option>
    <option value="in play" <%= "selected" if bet.status == "in play" %>>In Play</option>
    <option value="completed" <%= "selected" if bet.status == "completed" %>>Completed</option>
    <option value="cancelled" <%= "selected" if bet.status == "cancelled" %>>Cancelled</option>
  </select>
  </div>

  <div id="bet-results-form" class="group">
	  <span class="group">Results:</span>
	  <div class="results-winners-table">
	  Select Winner(s):<br>
	  <input type="hidden" name="bet_winner[user_id][]" value="">
	   <% bet.participants.each do |participant| %>
	     <input
	       id="bet_winner_id_<%= participant.id %>"
	       name="bet_winner[user_id][]"
	       value="<%= participant.id %>"
	       type="checkbox"
		   <%= "checked" if bet.winners.include?(participant) %>>
	     <label for="bet_winner_id_<%= participant.id %>"><%= participant.first_name %> <%= participant.last_name %></label>
	     <br>
	     <% end %>
 	   </div>

	   <div class="results-losers-table">
	   Select Loser(s):<br>
	   <% bet.participants.each do |participant| %>
	   <input type="hidden" name="bet_loser[user_id][]" value="">
	     <input
	       id="bet_loser_id_<%= participant.id %>"
	       name="bet_loser[user_id][]"
	       value="<%= participant.id %>"
	       type="checkbox" 
		   <%= "checked" if bet.losers.include?(participant) %>>
	     <label for="bet_loser_id_<%= participant.id %>"><%= participant.first_name %> <%= participant.last_name %></label>
	     <br>
	     <% end %>
	   </div>
 </div>

  <% end %>

  <input type="submit" value="<%= message %>">
</form>
