<div class="user-edit-form light-box-form hidden" id="user-edit-form">
  <div class="form-header group" id="form-header">
    <span class="form-title">Edit User</span>
    <div class="x-button" id="x-button">x</div>
  </div>
  <div class="form-content group">
    <%= render "form", :user => @user %>
  </div>
</div>