<% if !notifications || notifications.empty? %>
  <li><%= "No Notifications" %></li>
<% else %>
  <% notifications.each do |notification| %>
  	<li class="notifications-link">
  		<a href="<%= notification.link %>" data-remote="true"><%= notification.text %></a>
  	</li>
    <% end %>
<% end %>