<script>

$(document).ready( function(event) {

	//pagination and infinite scroll
	var requestingNextPage = false;
	
	var distanceFromBottom = function() {
		var doc = $(document)
		return doc.height() - (window.innerHeight + doc.scrollTop())
	}
	
	var inLightBox = function() {
		var isLightbox = false;
		$('.light-box-form').each( function(index, element) {
			if(!element.classList.contains("hidden")) {
				isLightbox = true;
			}
		})
		return isLightbox;
	}
	
	$(window).scroll(function(event) {
		console.log("registered hit bottom of page");
		console.log("dist from bottom: " + distanceFromBottom());
		console.log("requesting next page?" + requestingNextPage);
		console.log("in lightbox?" + inLightBox());
		if (distanceFromBottom() < 1 && !requestingNextPage && !inLightBox()) {
			requestingNextPage = true;
			$('.feed-loading-gif').removeClass("hidden");
			console.log("scroll triggered!");
			
			var currentPage = parseInt($("#bets-feed .page-num").val());
			var totalPages = parseInt($("#bets-feed .total-pages").val());
			
			var url = "<%= community_bets_url %>"
			
			switch ($('#bets-feed').attr('data-id')) {
				case 'pending':
					url = "<%= pending_bets_url %>";
					break;
				case 'inplay':
					url = "<%= inplay_bets_url %>";
					break;
				case 'completed':
					url = "<%= completed_bets_url %>";
					break;
				default:
					url = "<%= community_bets_url %>";
				}
			
			if (currentPage < totalPages) {
				$.ajax({
					url: url,
					dataType: "html",
					data: {
						"page": currentPage + 1
					},
					success: function(data) {
						console.log("successful ajax call!")
						console.log(data)
						console.log($('.bets-list'));
						$('.feed-loading-gif').addClass("hidden");
						$('.bets-list').append(data);
						$('.page-num').val(currentPage + 1);
						requestingNextPage = false;
					}
				})
			} else {
				console.log("currentPage > totalPages");
				$('.feed-loading-gif').addClass("hidden");
				requestingNextPage = false;
			}
		}
	})
	

  //changes feeds
  $('#feeds-list').on('ajax:success', 'a', function(event, data) {
	  console.log($(event.currentTarget).parent().attr('data-id'));
	  var feedType = $(event.currentTarget).parent().attr('data-id')
	  $('#bets-feed').attr('data-id', feedType)
      $('#bets-feed').html(data);

  });

  //Trigger logout
  $('.trigger-log-out').on('click', function(event) {
	  console.log(this);
	  $(this).find('form').trigger('submit');
  })

  //Trigger edit-user pop-up when relevant clicks made
  $('.trigger-user-edit-form').on('click', 'a', function(event) {
    event.preventDefault();
    $('.user-edit-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  });

  $('body').on('ajax:success', '.link-name a', function(event, data) {
    event.preventDefault();
	console.log("link-name clicked and success!");
    $('#user-show-content').html(data);
    $('.user-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })

  //Trigger pop-up upon clicking on a notification link
  $('.notifications-link').on('ajax:success', 'a', function(event, data) {
    event.preventDefault();
    link = $(event.currentTarget).attr('href')
    if ( link.indexOf('bet') != -1 ) {
      $('#bet-show-content').html(data);
      $('.bet-show-form').removeClass('hidden');
      $('.dimmer').removeClass('hidden');
	} else if ( link.indexOf('pending') != -1 ) {
      $('#friendship-show-content').html(data);
	  $('.friendship-show-form').removeClass('hidden');
	  $('.dimmer').removeClass('hidden');
	} else if ( link.indexOf('user') != -1 ) {
      $('#user-show-content').html(data);
      $('.user-show-form').removeClass('hidden');
      $('.dimmer').removeClass('hidden');
    }
  })

  //Trigger new-bet pop-up when relevant clicks made
  $('body').on('ajax:success', '.trigger-add-bet-form', function(event, data) {
    event.preventDefault();
	console.log("Triggered Add Bet Form (in index)")
	$('#new-bet-content').html(data);
    $('.new-bet-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  });
  
  //Trigger new-bet pop-up when relevant clicks made
  $('body').on('ajax:success', '.trigger-edit-bet-form', function(event, data) {
    event.preventDefault();
	console.log("Triggered Edit Bet Form (in index)")
	//console.log(data);
	$('#edit-bet-content').html(data);
	$('.edit-bet-form').removeClass('hidden');
	$('.dimmer').removeClass('hidden');
  });
  
  //Submit edit and update feed if relevant
  $('body').on('submit', '.trigger-submit-bet', function(event) {
    event.preventDefault();
	var $form = $(event.currentTarget);
	var action = $form.children('input[name*="_method"]').val()
	var $allBettees = ($form.find('.bettee-drop-down-anchor').children('.bettee-block'));
	$allBettees.each(function( index ) {
		var betteeId = $(this).attr('data-id');
		$form.append('<input name="bet_participation[user_id][]" value="' + betteeId + '">')
	})
	var url = $form.attr('action')
	var data = $form.serialize();
	console.log(data);
	
    $.ajax ({
      method: action,
      url: url,
      data: data,
      dataType: "html",
      success: function(data) {
	  	if (action == 'post') {
	  		//console.log("registered new bet!")
	  		if ($('#bets-feed').attr('data-id') == 'community' || $('#bets-feed').attr('data-id') == 'pending') {
	  			var $li = $(data).children('li');
	  			$('#bets-feed').prepend($li);
	  		}
	  		$('.new-bet-form').addClass('hidden');
	  		$('.dimmer').addClass('hidden');
			$form[0].reset();
	  	} else if (action == 'put') {
	  		var dataId = $form.attr('data-id')
	  		var $li = $('#bets-feed').children('li[data-id*="' + dataId + '"]')
	  		$li.remove();
	  		$('#bets-feed').prepend($li.html(data));
	  		$('.edit-bet-form').addClass('hidden');
	  		$('.dimmer').addClass('hidden');
			$form[0].reset();
	  	}
      }
  	})
	
  });
  
  //
  $('body').on('ajax:success', '.trigger-bet-invite-response', function(event, data) {
	  event.preventDefault();
	  console.log("Triggered Bet Invite Response")
	  $div = $(event.currentTarget).closest('.bet-acceptance-section');
	  $div.remove()
  })

  //Remove lightbox and pop-up when user hits 'x' or presses escape
  $('.form-header').on('click', '.x-button', function(event) {
    event.preventDefault();
	console.log($(this).closest('.light-box-form'));
    $(this).closest('.light-box-form').addClass('hidden');
    $('.dimmer').addClass('hidden');
  })

  // attach new comment upon pressing enter
  $('.new-comment').keypress(function(event) {
    if ( event.which == 13 ) {
      event.preventDefault();

      var url = $(this).children('form').attr('action')
      var text = $(this).children('form').children('textarea').val()
      $.ajax ({
        method: "POST",
        url: url,
        data: {
          "comment[text]":text
        },
        dataType: "html",
        success: function(data) {
          $(event.currentTarget).siblings('.comments-list').append(data)
          $(event.currentTarget).children('form')[0].reset();
        }
      })
    }
  })


  // Users drop-down list for main "Search Friends"
  $('.search-form input').focus( function() {	
    $('.trigger-search-query').keyup(function(event) {
		if( (event.which >= 48 && event.which <= 57) || (event.which >= 65 && event.which <= 90) || event.which == 8 || event.which == 32) {
			console.log("Triggered keyup search in Index");
	      var url = $(this).attr('action')
	      url = url + "_friends"
	      var data = $(this).children('input#search-query').val()
	      var that = this
		  console.log(url);
		  console.log(data);
	      $.ajax ({
	        method: "GET",
	        url: url,
	        data: {"query": data},
	        success: function(data) {
			if (!data) {
		        $(that).siblings('div').html(data)
		        $(that).siblings('div').addClass('hidden');
				} else {
		        $(that).siblings('div').html(data)
		        $(that).siblings('div').removeClass('hidden');
				$(that).siblings('div').children('ul').children('li:first-child').addClass('selected')
				
				$('.search-drop-down ul li').hover(function(event) {
					console.log(event.currentTarget);
					$(event.currentTarget).siblings().removeClass('selected');
					$(event.currentTarget).addClass('selected');
				})
			}
	        }
	      })
	  }
    })
	
	$('.search-form input').keydown(function(event) {
		switch (event.which) {
		case 38:
			console.log("up pressed");
			event.preventDefault();
			$li = $(event.currentTarget).parent().next().find('.selected');
 			if ($li.prev().length > 0) {
 				$li.removeClass('selected');
 				$li.prev().addClass('selected');
 			}
			break;			
		case 40:
			console.log("down pressed");
			event.preventDefault();
			$li = $(event.currentTarget).parent().next().find('.selected');
			if ($li.next().length > 0) {
				$li.removeClass('selected');
				$li.next().addClass('selected');
			}
			break;
		case 9:
			console.log("tab pressed");
			event.preventDefault();
			$li = $(event.currentTarget).parent().next().find('.selected');
			$li.children('a').trigger('click');
			break;
		case 13:
			console.log("enter pressed");
			event.preventDefault();
			$li = $(event.currentTarget).parent().next().find('.selected');
			$li.children('a').trigger('click');
			break;
		}
	})
  })
  
  //Users-drop-down list for Bet Page
  

  // $('.search-friends-section').focusout( function(event) {
  //   $(this).children('div.search-drop-down').addClass('hidden')
  //   // $(this).parent().siblings('div').addClass('hidden');
  // })

  $('.search-drop-down').on('ajax:success', 'a', function(event, data) {
    event.preventDefault();
	console.log("Triggered search query in Index");
	$('.search-drop-down').addClass('hidden');
	$form = $(this).closest('.search-friends-section').find('form');
	$form[0].reset();
    $('#user-show-content').html(data);
    $('.user-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })
  
  $('.search-form').on('ajax:success', function(event, data){
	$form = $(this);
	$form[0].reset();
	$('.search-drop-down').addClass('hidden');  
    $('#friendship-show-content').html(data);
    $('.friendship-show-form').removeClass('hidden');
    $('.dimmer').removeClass('hidden');
  })

//  handle add/delete friend buttons
  $('#friendship-show-content').on('submit', '.add-friend-button', function(event) {
  	  event.preventDefault();
  	  console.log(event.currentTarget);
  	  console.log("triggered friend request");
			  console.log($(event.currentTarget).children('input:nth-child(2)').attr('name'))
  	  var url = $(event.currentTarget).attr('action');
	  var dataVal = $(event.currentTarget).children('input:nth-child(2)').attr('value')
	  var dataName = $(event.currentTarget).children('input:nth-child(2)').attr('name')
	  $.ajax ({
  		  method: "post",
  		  data: { "friendship[in_friend_id]": dataVal },
  		  url: url,
  		  success: function(data) {
  			  var $li = $(event.currentTarget).closest('li')
  			  $li.html(data)
  		  }
  	  })
  })

  $('#friendship-show-content').on('submit', '.unfriend-button', function(event) {
	  event.preventDefault();
	  //console.log(data);
	  var that = this;
	  console.log("triggered unfriend request");
	  url = $(event.currentTarget).attr('action');
	  console.log(event.currentTarget)
	  console.log($(event.currentTarget).closest('li'))
      $.ajax ({
        method: "delete",
        url: url,
        success: function(data) {
 			var $li = $(event.currentTarget).closest('li')
 			$li.html(data)
 		}
  	})
})

  $(document).keyup(function(event) {
    if( event.which == 27 ) {
      event.preventDefault();
      $('.light-box-form').addClass('hidden');
      $('.dimmer').addClass('hidden');
    }
  })

});

</script>
<link rel="stylesheet" type="text/css" href="assets/index.css">

<div class="dimmer hidden" id="dimmer"></div>
<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a href='#'>Yibs</a>
    </h1>

    <nav class="header-nav">
      <ul>
        <li class="notifications-label"><a href='<%= notifications_user_url(current_user) %>'>Notifications</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <div class="menu-title">Notifications:</div>
            <ul class="group">
              <%= render '/users/notifications', :notifications =>
               @notifications %>
            </ul>
          </div>
        </li>

        <li class="settings-label trigger-user-edit-form">
          <a href='<%= edit_user_url(current_user) %>'>Settings</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <ul class="group">
              <li class="trigger-user-edit-form"><a href="<%= edit_user_url(current_user) %>">Account Settings</a></li>
              <li class="sign-out-menu-item trigger-log-out">Log Out<%= button_to "Sign Out", session_url, method: :delete, class: "hidden"%></li>
            </ul>
          </div>
        </li>

        <li class="trigger-add-bet-form"><a href='<%= new_user_bet_url(current_user) %>' data-remote="true">+</a></li>
      </ul>
    </nav>

  </div>
</header>

<div class="content group">
  <%= render '/users/edit_lightbox' %>
  <%= render '/bets/new_lightbox' %>
  <%= render '/bets/edit_lightbox' %>
  <%= render '/bets/show_lightbox' %>
  <%= render '/users/show_lightbox' %>
  <%= render '/friendships/show_lightbox' %>

  <section class="user-dashboard">
    <div class="profile-picture">
      <a href='#'>
     <%= image_tag @user.profile_pic.url(:small), :id => "profile_pic" %>
     </a>
    </div>

    <div class="profile-name trigger-user-edit-form">
      <a href='#'>
      <p>
        <span class="name-profile"><%= @user.first_name %> <%= @user.last_name %></span><br>
        <span class="edit-profile">Edit Account</span>
      </p></a>
    </div>

    <div class="profile-info">
      <ul class="group">
        <li class="total-count">
          <div class="stat-value"><%= @user_bet_count %></div>
          <div class="stat-header">Total Bets</div>
        </li>
        <li class="inplay-count">
          <div class="stat-value"><%= @user_inplay_count %></div>
          <div class="stat-header">In Play</div>
        </li>
        <li class="win-count">
          <div class="stat-value"><%= @user_win_count %></div>
          <div class="stat-header">Won</div>
        </li>
      </ul>
      <div class="add-bet-button trigger-add-bet-form"><a href='<%= new_user_bet_url(current_user) %>' data-remote="true">Add New Bet</a></div>
    </div>
  </section>


  <div class="content-main">
    <header class="content-header group">
      <div class="pre-feeds-title">Bets: </div>
      <ul class="feeds-list" id="feeds-list">
        <li class="feeds-list-item" data-id="community"><a href="<%= community_bets_url %>" data-remote="true">Community</a></li>
        <li class="feeds-list-item" data-id="inplay"><a href="<%= inplay_bets_url %>" data-remote="true">In Play</a></li>
        <li class="feeds-list-item" data-id="pending"><a href="<%= pending_bets_url %>" data-remote="true">Pending</a></li>
        <li class="feeds-list-item" data-id="completed"><a href="<%= completed_bets_url %>" data-remote="true">Completed</a></li>
      </ul>
    </header>

    <div class="bets">
      <header class="group">

        <ul class="bets-list" id="bets-feed" data-id="community">
          <%= render "bets/display_bets" %>
        </ul>

      </header>
	  <div class="feed-loading-gif hidden">
		  <%= image_tag("index/loading-gif.gif") %>
	  </div>
    </div>
  </div>

  <section class="friendship-dashboard">

    <div class="search-friends-section">
      Search Friends:
      <%= render '/friendships/drop_down_form' %>
    </div>

  </section>

</div>

