

<header class="header">
  <div class="header-wrap group">
    <h1 class="header-logo">
      <a href='#'>Yibs</a>
    </h1>

    <nav class="header-nav">
      <ul>
        <li class="notifications-label"><a href='<%= notifications_user_url(current_user) %>'>Notifications</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <div class="menu-title">Notifications:</div>
            <ul class="group">
              <%= render '/users/notifications', :notifications =>
               @notifications %>
            </ul>
          </div>
        </li>

        <li class="settings-label">
          <a href='<%= edit_user_url(current_user) %>'>Settings</a>
          <div class="hover-menu">
            <div class="uparrow"></div>
            <ul class="group">
              <li><a href="#">Account Settings</a></li>
              <li><%= button_to "Log Out", session_url, :method => :delete %>Log Out</a></li>
            </ul>
          </div>
        </li>

        <li><a href='<%= new_user_bet_url(current_user) %>'>+</a></li>
      </ul>
    </nav>

  </div>
</header>

<div class="content group">
  <section class="user-dashboard">

    <div class="profile-picture">
      <a href='<%= edit_user_url(current_user)%>'>
     <%= image_tag @user.profile_pic.url(:small), :id => "profile_pic" %>
     </a>
    </div>

    <div class="profile-name">
      <a href='<%= edit_user_url(current_user)%>'>
      <p>
        <span class="name-profile"><%= @user.first_name %> <%= @user.last_name %></span></br>
        <span class="edit-profile">Edit Account<span>
      </p></a>
    </div>

    <div class="profile-info">
      <ul class="group">
        <li class="total-count">
          <div class="stat-value"><%= @user_bet_count %></div>
          <div class="stat-header">Total Bets</div>
        </li>
        <li class="inplay-count">
          <div class="stat-value"><%= @user_inplay_count %></div>
          <div class="stat-header">In Play</div>
        </li>
        <li class="win-count">
          <div class="stat-value"><%= @user_win_count %></div>
          <div class="stat-header">Won</div>
        </li>
      </ul>
      <a href='<%= new_user_bet_url(current_user) %>'><div class="add-bet-button">Add New Bet</div></a>
    </div>
  </section>

  <div class="content-main">
    <header class="content-header group">
      <div class="pre-feeds-title">Bets: </div>
      <ul class="feeds-list">
        <li class="feeds-list-item"><a href="#">Community</a></li>
        <li class="feeds-list-item"><a href="#">In Play</a></li>
        <li class="feeds-list-item"><a href="#">Pending</a></li>
        <li class="feeds-list-item"><a href="#">Completed</a></li>
      </ul>
    </header>

    <div class="bets">
      <header class="group">



        <ul class="bets-list">
          <%= render "bets/display_bets", :bets => @community_bets %>
        </ul>



            <li class="bets-list-item">
            <div class="bet-header group">
              <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
              <%= image_tag("15px-sword-vs.png", class: "vs-pic") %>
              <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
              <div class="bet-status">Status: <span class="bet-inplay">In Play</span></div>
              <div class="bet-privacy bet-private">Priate</div>
            </div>


            <div class="bet-author-pic">
              <img alt="Open-uri20131217-39002-gjhasu?1387318745" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/002/small/open-uri20131217-39002-gjhasu?1387318745">
            </div>
            <div class="bet-content">
              <div class="bet-terms">
                <p><span class="link-name user-accepted"><a href="<%= user_url(1) %>">Emil Lee</a></span> bets <span class="link-name user-pending"><a href="<%= user_url(1) %>">Brian Deane</a></span> that he can erase Brian's project by the end of the day without him noticing.  <br><br>Loser(s) has to wrestle tommy.</p>
              </div>

              <div class="bet-options group">
                <ul>
                  <li><a href="http://localhost:3000/bets/3/edit">Edit Bet</a></li>
                  <li><a href="#">Share</a></li>
                  <li><a href="#">Comment</a></li>
                  <li>Last updated 5 hours ago</li>
                </ul>
              </div>
              <div class="comments-section">
                <div class="uparrow-comments"></div>
                <ul class="comments-list">
                  <li class="comment group">
                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                    </div>
                    <div class="comment-content">

                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                    </div>
                  </li>
                  <li class="comment group">
                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                    </div>
                    <div class="comment-content">

                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                    </div>
                  </li>
                  <li class="comment group">
                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                    </div>
                    <div class="comment-content">

                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                    </div>
                  </li>
                </ul>
                <div class="new-comment">
                  <div class="new-comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953"></div>
                  <form action="http://localhost:3000/bets/3/comments" method="post">
                    <input name="authenticity_token" type="hidden" value="b2yWfwO3942mgBqGRlQ2kB77cZjKs0JAxiRob8LQ1NY=">

                    <textarea rows="1" cols="40" name="comment[text]" placeholder="write a comment" ></textarea>

                    <input type="submit" value="Add Comment">
                  </div>
                </form>


                    </li>

                    <li class="bets_list_item">
                    <div class="bet-header group">
                      <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                      <%= image_tag("15px-sword-vs.png", class: "vs-pic") %>
                      <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                      <div class="bet-status">Status: <span class="bet-cancelled">Cancelled</span></div>
                      <div class="bet-privacy bet-private">Private</div>
                    </div>


                    <div class="bet-author-pic">
                      <img alt="Open-uri20131217-39002-gjhasu?1387318745" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/002/small/open-uri20131217-39002-gjhasu?1387318745">
                    </div>
                    <div class="bet-content">
                      <div class="bet-terms">
                        <span class="link-name user-accepted"><a href="<%= user_url(1) %>">Emil Lee</a></span> bets <span class="link-name user-pending"><a href="<%= user_url(1) %>">Brian Deane</a></span> that he can erase Brian's project by the end of the day without him noticing.  Loser(s) has to wrestle tommy.
                      </div>

                      <div class="bet-options group">
                        <ul>
                          <li><a href="http://localhost:3000/bets/3/edit">Edit Bet</a></li>
                          <li><a href="#">Share</a></li>
                          <li><a href="#">Comment</a></li>
                          <li>Last updated 5 hours ago</li>
                        </ul>
                      </div>
                      <div class="comments-section">
                        <div class="uparrow-comments"></div>
                        <ul class="comments-list">
                          <li class="comment group">
                            <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                            </div>
                            <div class="comment-content">

                                <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                            </div>
                          </li>
                          <li class="comment group">
                            <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                            </div>
                            <div class="comment-content">

                                <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                            </div>
                          </li>
                          <li class="comment group">
                            <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                            </div>
                            <div class="comment-content">

                                <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                            </div>
                          </li>
                        </ul>
                        <div class="new-comment">
                          <div class="new-comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953"></div>
                          <form action="http://localhost:3000/bets/3/comments" method="post">
                            <input name="authenticity_token" type="hidden" value="b2yWfwO3942mgBqGRlQ2kB77cZjKs0JAxiRob8LQ1NY=">

                            <textarea rows="1" cols="40" name="comment[text]" placeholder="write a comment" ></textarea>

                            <input type="submit" value="Add Comment">
                          </div>
                        </form>


                            </li>

                            <li class="bets_list_item">
                            <div class="bet-header group">
                              <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                              <%= image_tag("15px-sword-vs.png", class: "vs-pic") %>
                              <img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                              <div class="bet-status">Status: <span class="bet-completed">Cancelled</span></div>
                              <div class="bet-privacy bet-private">Private</div>
                            </div>


                            <div class="bet-author-pic">
                              <img alt="Open-uri20131217-39002-gjhasu?1387318745" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/002/small/open-uri20131217-39002-gjhasu?1387318745">
                            </div>
                            <div class="bet-content">
                              <div class="bet-terms">
                                <span class="link-name user-accepted"><a href="<%= user_url(1) %>">Emil Lee</a></span> bets <span class="link-name user-pending"><a href="<%= user_url(1) %>">Brian Deane</a></span> that he can erase Brian's project by the end of the day without him noticing.  Loser(s) has to wrestle tommy.
                              </div>

                              <div class="bet-options group">
                                <ul>
                                  <li><a href="http://localhost:3000/bets/3/edit">Edit Bet</a></li>
                                  <li><a href="#">Share</a></li>
                                  <li><a href="#">Comment</a></li>
                                  <li>Last updated 5 hours ago</li>
                                </ul>
                              </div>
                              <div class="comments-section">
                                <div class="uparrow-comments"></div>
                                <ul class="comments-list">
                                  <li class="comment group">
                                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                                    </div>
                                    <div class="comment-content">

                                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                                    </div>
                                  </li>
                                  <li class="comment group">
                                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                                    </div>
                                    <div class="comment-content">

                                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                                    </div>
                                  </li>
                                  <li class="comment group">
                                    <div class="comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953">
                                    </div>
                                    <div class="comment-content">

                                        <div class="comment-text"><span class="link-name"><a href="<%= user_url(1) %>">Arnold S</a></span>: fdsafdsafdffsda fl;dsaj flksda jfsadklf adsjklf dsalkfdsaj fkljweiof jwqiof wajofewaj ifoa jfladsj fiewaof jawiof;j awiof jwaeiofawjf osadifj ewoif waeofasafds</div>
                                        <time class="comment-time">2013-12-17 16:15:57 UTC</time>
                                    </div>
                                  </li>
                                </ul>
                                <div class="new-comment">
                                  <div class="new-comment-thumb"><img alt="Stringio" id="profile_pic" src="http://s3.amazonaws.com/yibs-dev/users/profile_pics/000/000/007/thumb/stringio.txt?1387296953"></div>
                                  <form action="http://localhost:3000/bets/3/comments" method="post">
                                    <input name="authenticity_token" type="hidden" value="b2yWfwO3942mgBqGRlQ2kB77cZjKs0JAxiRob8LQ1NY=">

                                    <textarea rows="1" cols="40" name="comment[text]" placeholder="write a comment" ></textarea>

                                    <input type="submit" value="Add Comment">
                                  </div>
                                </form>


                                    </li>



                </ul>
              </div>
            </div>





      </header>
    </div>
  </div>

</div>

