<form class="add-friend-button" action="<%= user_friendships_url %>" method="post">
 <input
    name="authenticity_token"
    type="hidden"
    value="<%= form_authenticity_token %>">

 <input
    type="hidden"
    name="friendship[in_friend_id]"
    value="<%= user.id %>">
 <input type="submit" value="<%= message %>">
</form>