<div class="friendship-show-form light-box-form hidden" id="friendship-show-form">
  <div class="form-header group" id="form-header">
    <span class="form-title">Friendship Show Page</span>
    <div class="x-button" id="x-button">x</div>
  </div>
  <div class="form-content group" id="friendship-show-content">
  </div>
</div>