<h1>Friendship Index</h1>

<h2>All Users</h2>
<%= render "list_users", :users => @users %>
<br>
<h2>Existing Friends</h2>
<%= render "list_users", :users => @friends %>
<br>
<h2>Outbound Pending Friends</h2>
<%= render "list_users", :users => @outbound_pending_friends %>
<br>
<h2>Inbound Pending Friends</h2>
<%= render "list_users", :users => @inbound_pending_friends %>
