// Place all the styles related to the Bets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feeds_bar {
  float: left;
  margin: 15px 5px 0px 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  font-weight: bold;
  color: #3A3A3A;
}

ul.feeds_list > li {
  float: left;
  font-size: 75%;
  margin: 5px 7px 5px 7px;
  color: #909090;
}

ul.bets_list > li {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
  background-color: #DEDEDE;
}