//TOP NAV BAR

.header {
  width: 100%;
  background: #323232;
}

.header-wrap {
  margin: auto;
  width: 900px;
  color: #ACACAC;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  font-weight: bold;
  padding: 10px 20px;
}

.header-nav {
  float:right;
}

.header-nav > ul > li {
  float: left;
  position: relative;
}

.header-nav > ul > li > a {
  display: block;
  padding: 10px;
}

.header-nav > ul > li > div.hover-menu {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  padding: 5px;
  color: #323232;
  border-radius: 3px;
}

li.settings-label:hover > div.hover-menu {
  display: block;
  width: 150px;
  top: 40px;
  left: -80px;
  z-index: 5;
  border: 1px solid #ACACAC;
}

li.notifications-label:hover > div.hover-menu {
  display: block;
  width: 300px;
  top: 40px;
  left: -129px;
  z-index: 5;
  border: 1px solid #ACACAC;
}

div.menu-title {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px solid #E8E8E8;
}

div.hover-menu > ul > li {
  border-top: 1px solid #E8E8E8;
  padding: 5px 10px 5px 10px;
}

div.hover-menu > ul > li:first-child {
  border-top: 0;
}

div.uparrow {
  position: absolute;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  border-left: 10px solid transparent;
}

li.settings-label > div.hover-menu > div.uparrow {
  top: -20px;
  left: 105px;
}

li.notifications-label > div.hover-menu > div.uparrow {
  top: -20px;
  left: 170px;
}

div.hover-menu > ul > li:hover {
  background-color: #ACACAC;
}

.sign-out-menu-item {

}


//GENERAL CONTENT  AKA-AFTER HEADER
.content {
  width: 870px;
  margin: auto;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

//USER DASHBOARD
.user-dashboard {
  position: relative;
  float: left;
  width: 210px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.profile-picture {
  float: left;
  margin-bottom: 3px;
}

div.profile-name {
  float: left;
  padding-left: 10px;
  padding-top: 5px;
}


div.profile-name .edit-profile {
  font-size: 80%;
  color: #595959;
}

div.profile-name:hover .edit-profile {
  font-size: 80%;
  color: #69A94C;
}

.profile-info {
  clear: both;
}

div.profile-info > ul {
  border-top: 1px solid #E8E8E8;
  border-bottom: 1px solid #E8E8E8;
}

div.profile-info > ul > li {
  display: block;
  float: left;
  margin: 3px 0 3px 0;
  padding: 3px 3px 5px 3px;
  width: 63px;
  text-align: center;
  border-left: 1px solid #E8E8E8;
}

div.profile-info > ul > li:first-child {
  border-left: 0;
}

.stat-value {
  font-size: 90%;
}

.stat-header {
  font-size: 75%;
  color: #595959;
}

div.add-bet-button {
  text-align: center;
  background-color: #193B8B;
  padding: 3px;
  margin: auto;
  margin-top: 10px;
  color: white;
  width: 100px;
  border-radius: 6px;
  font-size: 90%;
  cursor: pointer;
}

//CONTENT-MAIN

.content-main {
  float: left;
  width: 600px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

.content-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 5px;
}

.content-header > div.pre-feeds-title {
  float: left;
  padding: 5px;
}

.content-header > ul.feeds-list > li {
  float: left;
  padding: 5px;
}

.content-header > ul.feeds-list > li:hover {
  color: #69A94C;
  border-radius: 5px;
}

.bet-pending{
  color: #707070;
  font-style: italic;
}

.bet-cancelled{
  font-weight: bold;
  color: #920F0F;
}

.bet-inplay{
  font-weight: bold;
  color: #69A94C;
}

.bet-completed{
  font-weight: bold;
  color: black;
}

.user-accepted {
  font-weight: bold;
}

.user-pending {
  color: #535353;
  font-weight: bold;
}

.user-declined {
  color: #535353;
  font-style: italic;
  text-decoration: line-through;
}

.bets-list {
  margin: 5px 5px 5px 5px;
  padding-top: 5px;
}

.bets-list > li {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #E8E8E8;
}

.bets-list > li:first-child {
  margin-top: 0;
  padding-top: 0;
  border-top: none;
}

.bet-header {
  margin-top: 0px;
  margin-left: 60px;
}

.bet-header > img {
  float: left;
  margin-left: 5px;
}

.bet-header > img.vs-pic {
  margin-top: 8px;
}

.bet-header > img:first-child {
  margin-left: 0;
}

.bet-status {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  font-size: 75%;
}

.bet-privacy {
  float: right;
  font-size: 75%;
  margin-right: 45px;
  margin-top: 8px;
  color: #ACACAC;
}

.bet-private {
  color: #920F0F;
}

.bet-public {
  color: #ACACAC;
}

.bet-author-pic {
  margin-top: 3px;
  float: left;
}

.bet-terms {
  margin-top: 10px;
}



.bet-acceptance-section {
	background-color: #D7DCE9;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px;
}

.bet-acceptance-content {
	width: 190px;
	margin: auto;
}

.bet-buttons {
	width: 117px;
	margin: auto;
}

.bet-buttons > div {
	float: left;
}


.bet-content {
  margin-left: 60px;
  padding-right: 45px;
}

.pre-feeds-title {
  font-weight: bold;
}

.bet-options {
  margin: 10px 0 10px 0;
}

.bet-options > ul > li {
  float: left;
  margin-left: 10px;
  color: #5D7BC7;
  font-size: 85%;
}

.bet-options > ul > li:first-child {
  float: left;
  margin-left: 0;
}

.bet-options > ul > li:last-child {
  color: #ACACAC;
}


//COMMENTS SECTION

div.uparrow-comments {
  position: absolute;
  border-top: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #E8E8E8;
  border-left: 7px solid transparent;
  top: -14px;
  left: 115px;
}

.comments-section {
  position: relative;
  background-color: #E8E8E8;
  border-radius: 5px;
  padding: 5px;
  font-size: 95%;
}

.comments-list > li {
  padding: 3px 0;
  border-top: 1px solid white;
}

.comments-list > li:first-child {
  border-top: 0;
}

.comments-list > li:last-child {
  border-bottom: 1px solid white;	
}

.comment-thumb {
  float: left;
}

.comment-content {
  padding-top: 2px;
  margin-left: 38px;
}

.comment-time {
  display: block;
  margin-top: 5px;
  font-size: 90%;
  color: #535353;
}

.new-comment {
  padding: 3px 0;
}

.new-comment-thumb {
 float: left;
}

.new-comment > form {
  margin-left: 35px;
}

.feed-loading-gif {
	width: 30px;
	margin: auto;
}

//Bet show page
.bet-show {
  float: left;
  width: 600px;
  background-color: #FFFFFF;
  padding: 10px;
  margin-left: 20px;
  border-radius: 5px;
}

//LIGHT BOX
//user-edit-form
.dimmer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

.dimmer .hidden {
  display: none;
}

.form-header .x-button {
  float: right;
  font-size: 125%;
  color: #909090;
  padding: 3px 7px 3px 9px;
  border-left: 1px solid #909090;
  margin-top: -5px;
  cursor: pointer;
}

.form-header {
  background-color: #E8E8E8;
  padding: 0 5px 5px 5px;
  text-align: center;
}

.form-header .form-title {
  font-weight: bold;
  color: #575757;
}

.form-header .x-button:hover {
  color: #575757;
}

.form-content {
  padding: 10px;
}

.light-box-form.hidden {
  display: none;
}

.light-box-form {
  display: block;
  position: absolute;
  border-radius: 10px;
  border-top: 10px solid #E8E8E8;
  background-color: white;
  left: 50%;
  top: 75px;
  z-index: 15;
}

.user-edit-form {
  width: 400px;
  height: 400px;
  margin-left: -200px;
}

.new-bet-form {
  width: 500px;
  margin-left: -250px;
}

.edit-bet-form {
  width: 500px;
  margin-left: -250px;
}

.trigger-submit-bet > div {
	margin: 10px 0;
}

.winners-losers-section {
	margin-top: 20px;
	padding: 5px;
	background-color: #F8F0D8;
	line-height: 120%;
}

.winners-losers-section > span {
	font-weight: bold;
}

.results-winners-table {
	float: left;
	margin: 5px;
}

.results-losers-table {
	float: left;
	margin: 5px;
}

.user-show-form {
  width: 600px;
  margin-left: -250px;
}

.user-show-form .user-details {
  padding: 10px 0;
}

.bet-show-form {
  width: 550px;
  margin-left: -275px;
}

.friendship-show-form {
  width: 500px;
  margin-left: -250px;
}

.friendship-show-form .form-content {
  padding: 30px;
}

.friendship-show-form .form-content > ul > li {
  margin-top: 10px;
}

.friendship-show-form .form-content > ul {
  margin-top: 5px;
}

.friendship-show-form .form-content > h3 {
  margin-top: 20px;
}

.friendship-show-form .form-content > h3:first-child {
  margin-top: 0;
}

ul.current-friends-list > li:first-child {
  margin-top: 0;
}

ul.other-users-list > li:first-child {
  margin-top: 0;
}

//friendship dashboard

.friendship-dashboard {
  position: absolute;
  top: 180px;
  width: 210px;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

//bettee search stuff!
.bettee-search-area {
	border: 1px solid #ACACAC;
	width: 200px;
	overflow: scroll;	
	padding: 1px;
	margin: 2px;
}

.bettee-search-area:focus {
	outline: none;
};


.bettee-drop-down-anchor {
  position: relative;
}

.bettee-drop-down {
  position: absolute;
  left: 7px;
  background-color: white;
  padding: 2px;
  border: 1px solid #323232;
}

.bettee-drop-down > ul > li {
  margin: 2px;
}

ul > li.selected {
  background-color: #B9C5EE;
}

.bettee-block {
	float: left;
	border: 1px solid #909090;
	background-color: #E8E8E8;
	margin: 1px 2px;
	border-radius: 3px;
}

.bettee-block > span {
	color: #323232;
	font-size: 85%;
}

.bettee-block > div {
	display: inline-block;
	font-size: 80%;
	color: #323232;
	padding: 0 2px 2px 2px;
	font-weight: bold;
	cursor: pointer;
}


