// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//Login/signup page!

body {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle farthest-corner, #7CC759 0%, #69A94C 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle farthest-corner, #7CC759 0%, #69A94C 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle farthest-corner, #7CC759 0%, #69A94C 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, #7CC759), color-stop(1, #69A94C));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle farthest-corner, #7CC759 0%, #69A94C 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle farthest-corner at center, #7CC759 0%, #69A94C 100%);
}

.login-container {
	width: 800px;
	margin: auto;
	margin-top: 100px;
	font-size: 115%;
}

.login-section {
	float: right;
	width: 225px;
	padding: 10px;
	border-radius: 2px;
	background-color: white;
	border: 1px solid #ACACAC;
}

.login-title {
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #323232;
	border-bottom: 1px solid #ACACAC;
}

.login-section > form > input {
	font-family: inherit;
	font-size: 80%;
	padding: 3px;
	width: 200px;
}

.login-form > .login-button {
	font-size: 90%;
	width: 70px;
	margin: 5px 0 3px 63px;
	padding: 5px 0 5px 26px;
	border-radius: 3px;
	background-color: #69A94C;
	color: white;
}

.login-form > .login-button:hover {
	background-color: #568B3E;
	cursor: pointer;
}

.login-section > .login-seperator {
	margin: 8px 0 8px 100px;
	padding: 0 10px;
	color: #575757;
	font-size: 80%;
}

.login-section > .fb-login {
	margin-left: 35px;
}

.signup-section {
	float: right;
	clear: right;
	margin-top: 10px;
	width: 225px;
	padding: 10px;
	border-radius: 2px;
	background-color: white;
	border: 1px solid #ACACAC;
}

.signup-section > form > input {
	font-family: inherit;
	font-size: 80%;
	padding: 3px;
	width: 200px;
}

.signup-title {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ACACAC;
	color: #323232;
}

.graphic {
	float: left;
	margin-top: 10px;
	width: 520px;
	height: 364px;
	position: relative;
	background-color: white;
	border: 1px solid #ACACAC;
	border-radius: 2px;
}

.login-pic > img {
	left: -43px;
	top: -30px;
	position: absolute;
}

.signup-form > .signup-button {
	font-size: 90%;
	width: 70px;
	margin: 5px 0 3px 63px;
	padding: 5px 5px 5px 26px;
	border-radius: 3px;
	background-color: #69A94C;
	color: white;	
}

.signup-form > .signup-button:hover {
	background-color: #568B3E;
	cursor: pointer;
}

.graphic-content {
	width: 520px;
	margin-top: 230px;
}

.content-title {
	font-size: 200%;
	color: #323232;
	width: 244px;
	margin: auto;
}

.content-title > span {
	color: #69A94C;
}

.content-support {
	width: 452px;
	margin: auto;
	margin-top: 15px;
	color: #535353;
	text-align: center;
}

.overhang {
	float: left;
	margin: -40px;
	margin-left: 30px;
	width: 520;	
	color: white;
}




