.group:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: sans-serif;
  background: #69A94C;
}

.link-name {
  color: #5D7BC7;
}

.hidden {
  display: none;
}

.participant-pic {
  border-radius: 3px;
}

.comment-pic {
  border-radius: 3px;
}

.bet-author-pic {
  border-radius: 3px;
}

//drop down boxes for search
.search-form {
  position: relative;
}

.search-drop-down {
  position: absolute;
  top: 45px;
  left: 7px;
  background-color: white;
  padding: 2px;
  border: 1px solid #323232;
}

.search-drop-down > ul > li {
  margin: 2px;
}




