.group:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: sans-serif;
  background: #69A94C;
}

.link-name {
  color: #5D7BC7;
}

.hidden {
  display: none;
}

.participant-pic {
  border-radius: 3px;
}

.comment-pic {
  border-radius: 3px;
}

.bet-author-pic {
  border-radius: 3px;
}

//drop down boxes for search
.search-form {
  position: relative;
}

.search-drop-down {
  position: absolute;
  top: 45px;
  left: 7px;
  background-color: white;
  padding: 2px;
  border: 1px solid #323232;
}

.search-drop-down > ul > li {
  margin: 2px;
}

.flash-message {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 5px 0;
	text-align: center;
	line-height: 1.1;
	z-index: 20;
}

.flash-message.error {
	color: white;
	border: 1px solid #952020;
	background-color: #A26F6F;
}

.flash-message.notice {
	color: white;
	border: 1px solid #287B26;
	background-color: #8FAB8E;
}



