<!DOCTYPE html>
<html>
<head>
  <title>Yibs</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag params[:controller] %>
</head>
<body>


 <%= yield %>


</body>
</html>
